{% extends "home.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #FF0000; }
  </style>
{% endblock %}
{% block content %}
<div align="center" >
  <h1>Ravi Gift Shop</h1>
    <p> Ravi Gift Shop is the best online source to send gifts to Hyderabad and surrounding area. We know what it feels to stay away from family and loved ones, but you can atleast send gifts and make your dear ones happy. We provide Online Cake Delivery in Hyderabad, along with other gifts like flowers, chocolates, teddy bears and Personalised Gifts. We have good collection of gifts like flowers bouquet of Roses and Gerberas, yummy & delicious Cakes and mouth watering branded Chocolates, sweets and different combo for Birthday, Wedding Anniversary or any other special occasion. Send Rakhi Gifts to Ahmedabad along with Sweets and Chocolates hamper. Check out our Valentine's Day Gifts to send it to the love of your life.
    </p>
<p>Ravi GIFT SHOP…the one-stop online shop for a range of products to take your loved ones off their feet, sway them with your surprises and give them so many memories that they would want to cherish for a lifetime! Welcome to Ravi Gift Shop, the online world and the ideal world for a wide range of gifts that will help you speak your heart clear and loud to your special ones.
</p>
<p>Yes, here we are with a gamut range of products that will help in make the special days of your loved ones even more memorable! Our range of products will make the celebration grander and make every occasion finish in absolute style.
</p>
<p>You stay abroad and do not know how to make your presence felt with them even in your absence? Get in touch with us…call us or email us and we will ensure that your people will feel your presence there through your gestures.
</p>
<p>Cakes, sweets, flowers, chocolates, teddy bears, soft toys or personalized gifts…choose from this wide array we have on board and we will deliver it to them.
</p>
    <p>
You want to wish them when the clock chimes 12 at midnight? We will take your personalized gifts and deliver it to them just in time to ring in the special day for them.
So, do not worry as the distance does not matter but your gestures mean and count a lot. With Ravi Gift Shop, you can rest assured that your wishes and gifts will be delivered intact and in one piece as per schedule.
Cakes and Flowers from Ravi Gift Shop Makes a Very Special Gift. What is a birthday celebration without a cake to cut? Enjoy your birthday unlimited with the special cake and flowers that we can deliver for your special party. Partnering with Fresh and Fresh Bakers in Hyderabad, we are extremely confident of the lip smacking taste that they dole out in myriad flavours!
Our doorstep delivery on your behalf is going to make the distances lesser and also make the bonding stronger. Just imagine the expression on the face of your loved one the moment they see us delivering them a surprise on your behalf! Ecstatic, wouldn't they be?
    </p>
<p>Gifts always make our day. Surprise gifts make our day even merrier. With our services and with your wallet we can help hearts grow fonder, memories sweeter, and days happier. What are you waiting for? Call us and we will do the needful. Distances are no barriers at Ravi Gift Shop. With a wonderful network and a wonderful team at the helm of affairs, we take great pride in saying that we have put up with many miles to bring in many smiles on many faces so far.
</p>
    <p>We only hope and work to spread this sheer joy of wishing people on their special days and on special occasions.
    </p>
<p>We give you ample choice to come up with a perfect surprise combo depending on the occasion that is in the offing. Just browse through the different combinations we have on board and make your choicest pick and we will get it delivered on your behalf.
</p>
</div>
    {% endblock %}